<mat-form-field class="myDiv" *ngIf="!isLoadingResults">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>


  <div class="example-table-container" *ngIf="!isLoadingResults">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
      matSortDisableClear matSortDirection="asc">

      <ng-container matColumnDef="movieId">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.movieId}} </td>
      </ng-container>
      
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element" ><button *ngIf="!movieChosen(element)" (click)="selectMovie(element)" mat-raised-button color="primary">Rate
            Movie</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5" [hidden]="!isLoadingResults"></mat-paginator>
</div>

<h3 class="myDiv">
  Movies Selected
</h3>

<div class="example-table-container" *ngIf="!isLoadingResults">

  <table mat-table [dataSource]="moviesChosen" class="example-table" matSort matSortActive="created" matSortDisableClear
    matSortDirection="asc">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element"><button (click)="removeMovie(element)" mat-raised-button color="warn">Remove Rating</button></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedSelectedMoviesColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedSelectedMoviesColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="resultsLength" [pageSize]="5" [hidden]="!isLoadingResults"></mat-paginator>

<router-outlet></router-outlet>