<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<mat-form-field *ngIf = "!isLoadingResults">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="movieId">
      <th mat-header-cell *matHeaderCellDef> MovieID </th>
      <td mat-cell *matCellDef="let element"> {{element.movieId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef> Genres </th>
      <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Score</th>
      <td mat-cell *matCellDef="let element">
        <!-- <mat-form-field appearance="standard" >
                <mat-label>Give a score from 0 to 5</mat-label>
                <input appOnlyNumber [formControl]="rate" matInput placeholder="Placeholder">
              </mat-form-field> -->
        <mat-form-field>
          <mat-select placeholder="Select One" (selectionChange)="giveRecommendationToSingleMovie(element,$event)">
            <mat-option *ngFor="let rating of ratings" [value]="rating">
              {{rating}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="!movieChosen(element)" (click)="selectMovie(element)" mat-raised-button color="primary">Rate
          Me!</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSize]="5"></mat-paginator>
</div>


<div class="myDiv">
  <button (click)="sendRec()" [disabled]="movieArray?.length < 10" mat-raised-button color="primary">Get Recommendations!</button>
</div>

<mat-spinner *ngIf="isLoadingRecommendations"></mat-spinner>

<div class="myDiv" *ngIf="recommendedMovies?.length > 0">
    <div *ngFor="let movie of recommendedMovies; let i = index">
      {{i+1}} - {{ movie }}
    </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="moviesChosen" matSort>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef> Genres </th>
      <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="removeMovie(element)" mat-raised-button color="primary">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedSelectedMoviesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedSelectedMoviesColumns;">
    </tr>
  </table>

  <mat-paginator [pageSize]="5"></mat-paginator>
</div>


<router-outlet></router-outlet>